.container {background: ;
          padding: 30px;
          font: helvetica ;
          border: 5px solid #6B8D9E;
          border-radius: 20px ;
          margin-left: 300px;
          margin-right: 300px;
          margin: center;
          width: 500px;
          background: #DCDCDC;




        }
